.DS_Store
.env
.run/

data/*.db
data/*.db-*
data/*.sqlite
data/*.sqlite-*

backend/node_modules/
frontend/node_modules/
frontend/.next/
frontend/tsconfig.tsbuildinfo

cube/.cubestore/
cube/.env
cube/model/generated/

*.log
